<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "com.phonegap.icontest"		xmlns:android   = "http://schemas.android.com/apk/res/android"		versionCode="10"		version   = "1.0.0">		<name short="IconTest">WP8 Icon Test App</name>		<description>			An App That tests the basic features of build on your device.		</description>		<author href="https://build.phonegap.com" email="support@phonegap.com">			Ismael Olusola Jimoh		</author>		<gap:platform name="ios" />		<gap:platform name="android" />		<gap:platform name="winphone" />			<gap:plugin name="org.apache.cordova.dialogs"/><!--Works Fine-->		<gap:plugin name="org.apache.cordova.device"/><!--Works Fine-->		<gap:plugin name="org.apache.cordova.vibration"  />				<content src="index.html" />			</widget>