<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "com.phonegap.icontest"		xmlns:android   = "http://schemas.android.com/apk/res/android">		<name short="IconTest">Medcab Beta</name>		<description>			Medcab Beta Refill App		</description>		<author href="http://www.davidsheffield.org" email="jeremiah.sheffield@gmail.com">			David Sheffield		</author>		<gap:platform name="ios" />		<gap:platform name="android" />		<gap:platform name="winphone" />				<icon src="icon.png" />			<gap:plugin name="org.apache.cordova.dialogs"/><!--Works Fine-->		<gap:plugin name="org.apache.cordova.device"/><!--Works Fine-->		<gap:plugin name="org.apache.cordova.vibration"  />				<content src="index.html" />			</widget>